@import "src/common/styles/variable";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 400px;
  padding: 5px 10px;
  @media screen and (max-width: 410px) {
    gap: 5px;
  }
  &__dataCard {
    display: flex;
    gap: 15px;
  }
}

.input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $Light;
  padding: 10px 5px;
  font-family: inherit;
  margin-top: 5px;
  font-size: 16px;
 @media screen and (max-width: 410px) {
   font-size: 14px;
 }
}

.label {
  text-transform: uppercase;
  position: relative;
  &__date {
    display: flex;
    gap: 15px;
    >input {
      max-width: 80px;
    }
  }
}

.span {
  max-width: 1.1rem;
}

.button {
  padding: 10px 10px;
  background-color: $Very_dark;
  color:$Light;
  border-radius: 5px;
}

.error {
  background-color: $error;
  color:$Light;
  @media screen and (max-width: 410px){

  }
  &__span {
    color:$error;
    font-size: 15px;
    position: absolute;
    @media screen and (max-width: 410px){
      font-size: 0;
    }
    &_monthYear {
      top: 71px;
    }
  }
}